.ren{
    margin-top:20px ;
}
.rendeb{
margin-top: 250px;
}
.rec{
padding-top:100px ;
padding-bottom: 0px;
margin-left: 500px;
}
.ree{
    margin-left: 500px;
 box-shadow: 1px 1px 2px  #495e57;
    margin-top: 100px;
    width: 515px;
}
.re{
    margin-top:-40px ;

}
.rend{
    margin-top: 7px;

}
.render{
    padding-left: 155px;
}